/***********css mobile par défaut ********************/

/* GLOBAL */

*{
    box-sizing: border-box;
    outline: none;
}

html{
    font-size: 62.5%;
    height: 100%;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem; 
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding-bottom: 10rem;
    position: relative;
    box-sizing: border-box;
}

img, video, table{
    max-width: 100%;
}

a{
    text-decoration: none;
}

.marge_content_layout, .btnConnecte{
    margin: 2rem;
}

.btnConnecte{
    margin: 2rem auto;
}

/* --- TEXTE CENTER --- */
.card_home_flex, .article_show, .btnConnecte,h1{
    text-align: center;
}

     /* /////////// H E A D E R ////////////// */

/*------ MENU ---------*/
.topnav, .form_menu button, .topnav a, header{
    background-color: #333;
    color: #f2f2f2;
}

.topnav a, .form_menu button{
    float: left;  
    display: block; 
    color: #f2f2f2;
    text-align: center;
    padding: 1.6rem 1.4rem; 
    text-decoration: none;
    font-size: 1.7rem;
}

.topnav a:hover, .form_menu button:hover{
    background-color: #ddd;
    color: black;
}
    
.topnav a.active{
    background-color: #4CAF50;
    color: #ccc;
}

.clear{
    clear: both;
}

/* cacher sous menu */
.topnav a:not(:first-child), .topnav .form_menu button{
    display: none;
}

/* affiche icon menu */
.topnav a.icon{
    display: block;
    float: right;
}

/* affiche sous menu */
.topnav.responsive{
    position: relative;
}
.topnav.responsive .icon{
    position: absolute;
    right: 0;
    top: 0; 
}
.topnav.responsive a, .topnav.responsive .form_menu button{
    float: none;
    display: block;
    text-align: left;
}


     /* /////////// M A I N ////////////// */

/*------ FORM ---------*/
input[type=text],input[type=password], input[type=submit], textarea{
    width: 100%;
    padding: 1rem;
    margin: 1rem auto;
    display: inline-block;
    border: 0.1rem solid #ccc;
    border-radius: 0.4rem;
    box-sizing: border-box;
}

textarea{
    resize: vertical;
}

input[type=submit]{
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;

}

input[type=submit]:hover{
    background-color: #45A049;
}

.divForm{
    border-radius: 0.5rem;
    background-color: #f2f2f2;
    padding: 2rem;
    margin: auto;
}

/*------- ERROR IN FORM------*/
.errors{
    color: red;
}

input.invalid , textarea.invalid{
    border: 0.1rem solid red;
}


/*------ CARD ---------*/

.card_home{
    margin: 2.4rem;
    padding: 0.1rem 1rem 0.1rem;
    border: 0.1rem solid black;
}

.pagination_flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.voir_plus, .pagination, .btn{
    border: 0.1rem solid black;
    margin: 0.4rem;
    padding: 0.5rem 0.01rem;
    background-color: rgba(0, 157, 255, 0.857);
}

.voir_plus a, .pagination a, .btn{
    color: white;
    padding: 0.8rem;
}

/*------ COLOR BUTTON ERROR AND SUCCESS ------- */

.btnRed{
    background-color: rgba(204, 18, 18, 0.7);
}

.btnGreen{
    background-color: rgba(99, 220, 103, 0.5);
}

/*------ TABLE ------- */
.table{
    border-collapse: collapse;
    width: 800px;
}

.table th, .table td{
    border: 0.1rem  solid #ddd;
    padding:1.5rem;
}

.table th{
    background-color: #4CAF50;
    color: white;
}

.table tr:nth-child(even){
    background-color: #f2f2f2;
}

.table tr:hover{
    background-color: #ddd;
}

.formDelete{
    display: inline;
}

/*------ TABLE responsive------- */

.responsive-table{
    border: 0.1rem solid ;
    width: 100%; 
    overflow-x: scroll;
}

/*------ SHOW ARTICLE - */

.article_show{
    border: 0.1rem solid black;
    padding: 1rem;
}
.content_article{
    text-align: left;
}

    /* /////////// F O O T E R ////////////// */

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10rem;
    background-color: #333;
}

footer p{
    color: #f2f2f2;
}



/* **************** css pour TABLETTE *********************** */
@media screen and (min-width: 600px) {
            /* /////////// H E A D E R ////////////// */

            /* /////////// M A I N ///////////////// */
            
    /*------ CARD ---------*/
    .card_home{
        display: inline-block;
        margin: 0.4rem;
        width: 45%; 
    }

    /*------ COLOR BUTTON ERROR AND SUCCESS ------- */

    .btnRed, .btnGreen{
        width: 70%;
        margin: auto;
    }

    .voir_plus, .pagination, .btn{
        padding: 1rem;
    }

    /*------ SHOW ARTICLE - */

    .article_show{
        width: 80%;
        margin: auto;
    }

    /*------ TABLE responsive------- */

    .table{
        width: 1025px;
    }
    .responsive_table{
        border: 0.1rem solid ;
        width: 100%; 
        overflow-x: scroll;
    }

    /*------ FORM ---------*/

    .divForm{
        width: 70%; 
    }
}


/* **********css pour desktop ******************* */

@media screen and (min-width:1025px){

         /* /////////// H E A D E R ////////////// */

    /*------ MENU RESPONSIVE ---------*/

    .topnav{
        overflow: hidden;
    }

    .topnav a:nth-child(1n+0), .topnav .form_menu button{
        display: block;
    }

    .topnav a:last-child{
        display: none;
    }

    .form_menu{
        display: block;
    }

         /* /////////// M A I N ////////////// */

    /*------ CARD ---------*/

    .card_home{
        margin: 0.4rem;
        width: 30%; 
    }

    /*------ COLOR BUTTON ERROR AND SUCCESS ------- */

    .btnRed, .btnGreen{
        width: 50%;
    }

    /*------ SHOW ARTICLE - */

    .article_show{
        width: 60%;
        margin: auto;
    }

    /*------ TABLE responsive------- */

    .table{
        width: 100%;
    }

    /*------ FORM ---------*/

    .divForm{
        width: 50%; 
    }
}
